!include include/default_my.cnf

[server]
skip-innodb
plugin-load=ha_crunch
default-storage-engine=crunch


sql-mode=NO_ENGINE_SUBSTITUTION
explicit-defaults-for-timestamp=1

# The following is to get rid of the harmless
# "Deadlock found when trying to get lock" errors, see MDEV-12285.
log-warnings=1
